/* Example comment for code readability */

:root {
    --hover-color: grey; /* Define a CSS variable */
}

* {
    font-family: Arial, sans-serif;
}

.jacquard-12-charted-regular {
    font-family: "Jacquard 12 Charted", system-ui;
    font-weight: 400;
    font-style: normal;
  }  

h1 {
    color: purple; /* color name */
    text-decoration: solid underline;
    height: 10px;
    width: max-content;
    position: sticky;
    top: 0;
}

h3 {
    color: rgb(0, 102, 104); /* rgb */
}

#summary {
    color: #2b93a8; /* hex codes */
    &:hover {
      color: var(--hover-color, white); /* fallback color */
    }
  }
  
#summary:active {
    font-size: large;
}

#timer {
    color: hsl(252, 5%, 40%); /* hue, saturation, lightness */
    font-family: "Jacquard 12 Charted", system-ui; /* fallback font */
}

#agenda {
    background-color: color(prophoto-rgb 0% 50% 100%); /* predefined color space */
}

#attendance {
    background-color: color-mix(in srgb, blue 25%, white); /* method to mix colors */
}

ol {
    border: 2px;
    border-style: dashed;
    border-color: darkmagenta;
    border-width: 1vw;
    border-radius: 100px;
    padding: 5vh;
    margin: 2em;

}
  
.block {
    display: block;
    margin-top: 1in;
    padding-left: 1cm;
}

.block2 {
    display: inline-block;
    margin-top: 80px;
    margin-bottom: 80px;
}

div p {
    margin: auto;
    text-align: justify;
    padding-bottom: 5vh;
}

form {
    max-width: 100%;
    min-width: min-content;
    position: static;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    row-gap: 50px;
}

@media only screen and (max-width: 600px) {
    #images, #video, #audio, #form {
        width: 100%;
      }
}

legend, label {
    color: maroon;
}

[href] {
    color: plum;
}

ul > li {
    list-style-type: square;
}

h2 ~ p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section#audio.block2 + section#video.block2 { /* adjacent siblings + combined selectors */
    background: linear-gradient(#e66465, #9198e5);
}

select:has(option) {
    text-align: center;
}
  